<%- include('includes/head.ejs')%> 
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% prods.forEach(prod => { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= prod.product %> </h1>
                        </header>
                        <div class="card__image">
                            <img src="https://www.packtpub.com/media/catalog/product/cache/abd628df6af33f734d56624223a191f5/9/7/9781801077361-original_55.png"
                                alt="C#10 and .NET 6">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$5.99</h2>
                            <p class="product__description">
                                C# 10 and .NET 6 – Modern Cross-Platform...
                            </p>
                        </div>
                        <div class="card__actions">
                            <button class="btn">Add to card</button>
                        </div>
                    </article>
                <% }) %>
                
            </div>
        <% } else { %>
            <h1>No Product found!</h1>
        <% } %> 
    </main>
<%- include('includes/end.ejs') %>
